.clearfix {
	display:block;
	clear:both;
}

#top-nav{
	background: #d7d7d7;
	padding: 18px 0;
	position: fixed;
	z-index: 5;
	width: 100%;
	-webkit-backface-visibility:hidden;
	-webkit-transform:translateZ(0);
}

#menu{
	float:right;
}

#top-content{
	background: url(../images/bg.jpg) repeat-x top center;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 130px 0 80px 0;
}

#grid-content{
	background: url(../images/grid-bg.png);
	padding: 80px;
}

.grid-container-right{
	padding-top: 60px;
}

#gridimg{
	margin: 0 auto;
	display: block;
}

h1,.wt-l,.cta,h2,span,h4{
	font-family: 'Source Sans Pro';
}

h1,.wt-l,h4{
	color:#fff;
}

.wt-l{
	font-size: 1.3em;
	line-height: 1.5em;
	padding-bottom: 25px;
}

.cta{
	color:#000;
	background: #23d77c url(../images/right.png) no-repeat 13px 13px;
	border-radius: 8px;
	padding: 13px 18px 13px 50px;
	font-size: 1.4em;
	margin-top: 25px;
	text-indent:20px;
}

.cta:hover{
	color:#000;
	background-color: #23c674;
}
h2{
	text-align: center;
	margin: 40px 0 80px 0;
	font-size: 3em;
}

h1{
	font-size: 4em;
	margin-top: 50px;
}

.sub-title{
	display: block;
	font-size: 1.7em;
	margin: 20px 0 10px 0;
}
.features{
	text-align: center;
}
p{
	font-size: 1.1em;
	line-height: 1.2em;
}
.header-unit{
	height:650px;
	width: 100%;
	position: relative;
}
#video-container{
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: -21;
}
video{
	position: absolute;
	z-index: -20;
}
video.fillWidth{
	width: 100%;
}
h4{
	color: #fff;
	font-size: 4.5em;
	text-align: center;
	margin-top: 170px;
}

#play img{
	display: block;
	margin: 40px auto;
}

#support-content{
	background: url(../images/honeycomb-bg.png);
	padding:150px;
}

#testimonial-content{
	background: url(../images/quote.png) 20% 50% fixed no-repeat;
	padding:120px;
	margin-bottom: 500px;
}
.title{
	font-size: 1.7em;
}

.fadeInBlock{
	opacity: 0;
}

#svg{
	width: 40%;
	margin: 0 auto;
	display: block;
	visibility: hidden;
}

.auth-img{
	text-align: center;
}

@media only screen and (max-width: 40.063em) {


}

@media only screen and (max-width: 64.063em) {


}